{{#partial "contenido"}}
    <h1 class="text-center">Asignar Categoría para {{nombreEntidad}}</h1>
    <div>
        <form class="formulario" method="POST" action="/entidades/{{idEntidad}}/categorias">
            <select id="inputDocComercial" class="form-control" name="categoriaSeleccionada">
                <option selected>categoria</option>
                {{#each categorias}}
                    <option value="{{nombre}}"> {{nombre}} </option>
                {{/each}}
            </select>


            <div class="form-group">
                <button type="submit" class="btn btn btn-primary btn-block" data-loading-text="Asignando..."></i>Asignar</button>
            </div>
        </form>
    </div>

{{/partial}}

{{>layout.hbs}}