<html>
<head>
    <title>GeSoc</title>
	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"  href="main.css">
    <link rel="stylesheet"  href="https://use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css">

    <!--<link rel="icon" href="~/img/icon-logo-dds.ico"> -->
</head>
<body>

<header class="header">
    <div class="container-fluid">
        <h2 class="text-left">aca va la imagen</h2>
        <!--<img src="https://doinglobal.com/wp-content/uploads/2019/09/DGPS-logo.png" class="img-responsive"/>-->
    </div>
</header>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="">Cargar Egreso</a></li>
                <li><a href="">Entidades</a></li>
                <li><a href="">Bandeja de mensajes</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
	{{#block "contenido"}}
	{{/block}}
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="text-center">
            <p>© 2020 GeSoc</p>
        </div>
    </div>
</footer>

</body>
</html>