{{#partial "contenido"}}

<form method="POST" action="/login">
	<div> Usuario <input type="text" name="usuario"/>  </div> 
	<div> Password <input type="text" name="password"/>  </div>
	<div>
	    <button type="button" class="btn btn-outline-primary">Primary</button>
	</div>
</form>

{{/partial}}

{{>layout.hbs}}